@import "../sass/variables";

main.main-wrapper {
  padding: 20px;

  .page-strapline {
    h1,
    h2 {
      color: $charcoal;

      span {
        color: $purple;
      }
    }
  }

  .content-wrapper {
    display: flex;
    flex-wrap: wrap;

    section.main-items-wrapper {
      width: 85%;
    }

    section.cart-wrapper {
      width: 15%;

      p.box-chosen {
        color: $purple;
        font-weight: 600;
      }
    }
  }
}
