<h1>Build your box</h1>
<h2>You have chosen {{ boxType }}</h2>

<div class="content-wrapper">
  <section class="product-accordion">
    <h2>{{ makeTitle(index) }}</h2>

    <div class="product-list">
      <mat-horizontal-stepper>
        <mat-step *ngFor="let index of accordionCountArray" label="Step 1">
          <div
            class="products-wrapper"
            *ngFor="let product of sortedAccProducts[index]"
          >
            <app-product [index]="index" [product]="product"> </app-product>
          </div>
          <div class="stepper-buttons-wrapper">
            <button
              id="step-back"
              class="stepper-button"
              mat-button
              matStepperPrevious
            >
              Previous
            </button>
            <button
              id="step-next"
              class="stepper-button"
              mat-button
              matStepperNext
            >
              Next
            </button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </section>

  <section class="cart-wrapper">
    <app-cart [boxType]="boxType"></app-cart>
  </section>

  <a routerLink="/box-choice">Back</a>
</div>
