<h1>Build your box</h1>
<h2>You have chosen {{ boxType }}</h2>

<div class="content-wrapper">
  <section class="product-accordion">
    <h2>{{ makeTitle(index) }}</h2>

    <div class="product-list">
      <ng-container *ngFor="let index of accordionCountArray">
        <div
          class="products-wrapper products-wrapper-{{ index + 1 }}"
          *ngFor="let product of sortedAccProducts[index]"
        >
          <app-product
            [index]="index"
            [product]="product"
            (disableButtonsChange)="addDisableButtonsClass($event)"
          >
          </app-product>
        </div>
        <div class="stepper-buttons-wrapper">
          <button id="step-back" class="stepper-button">
            Previous
          </button>
          <button id="step-next" class="stepper-button">
            Next
          </button>
        </div>
      </ng-container>
    </div>
  </section>

  <section class="cart-wrapper">
    <app-cart [boxType]="boxType"></app-cart>
  </section>

  <a routerLink="/box-choice">Back</a>
</div>
