<h1>Build your box</h1>
<h2>You have chosen {{ boxType }}</h2>

<section class="content-wrapper">
  <section *ngFor="let index of accordionCountArray" class="product-accordion">
    <h2>{{ makeTitle(index) }}</h2>
    <div class="product-list">
      <app-product
        *ngFor="let product of sortedAccProducts[index]"
        [index]="index"
        [product]="product"
      ></app-product>
    </div>
    <button class="next-accordion">Next</button>
  </section>

  <app-cart [boxType]="boxType"></app-cart>

  <a routerLink="/landing">Back</a>
</section>
