@import '~@angular/material/theming';

@include mat-core();

$boxBuilder-primary: mat-palette($mat-indigo);
$boxBuilder-accent:  mat-palette($mat-pink, A200, A100, A400);
$boxBuilder-warn: mat-palette($mat-red);
$boxBuilder-theme: mat-light-theme($boxBuilder-primary, $boxBuilder-accent, $boxBuilder-warn);

@include angular-material-theme($boxBuilder-theme);